::ng-deep .mat-drawer-inner-container{
  overflow: hidden !important;
}
::ng-deep .mat-dialog-container {
  max-width: 960px;
  border-radius: 0 !important;
}

@media screen and ( max-width: 576px) {
  ::ng-deep mat-sidenav , ::ng-deep mat-sidenav-content {
    width: 50%!important;
  }
}

.user {
  min-height: 1300px;
}

.admin {
  min-height: 650px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
