<form #addressForm="ngForm" (ngSubmit)="addressForm.valid && saveAddress()">
  <h2>Billing Address</h2>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="address">Address <sup>*</sup> </label>
        <input
          class="form-control"
          type="text"
          name="address"
          [(ngModel)]="data.address"
          id="address"
          #address="ngModel"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': address.touched && address.invalid
          }"
        />
        <span class="invalid-feedback">Address can't be plank</span>
      </div>
      <div class="form-group">
        <label for="phone">Phone <sup>*</sup> </label>
        <input
          class="form-control"
          type="text"
          name="phone"
          [(ngModel)]="data.phone"
          id="phone"
          #phone="ngModel"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': phone.touched && phone.invalid
          }"
        />
        <span class="invalid-feedback">Phone can't be plank</span>
      </div>
    </div>
  </div>
  <button
    class="btn btn-primary"
    [disabled]="addressForm.invalid"
    (click)="saveAddress()"
  >
    SAVE ADDRESS
  </button>
</form>
