<button class="btn btn-primary" (click)="openDialog()">Create</button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Created_at</th>
      <td mat-cell *matCellDef="let element">{{element.created_at}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Updated_at</th>
      <td mat-cell *matCellDef="let element">{{element.updated_at}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <button class="btn btn-success" (click)="delete(element.id)">Delete</button>
          <button class="btn btn-success" (click)="openDialogEdit(element.id)">Edit</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageIndex]=0 [pageSize]=20
    [pageSizeOptions]="[20]" showFirstLastButtons>
  </mat-paginator>
</div>
