<div class="row" *ngIf="item">
  <div class="product-detail col-md-12">
    <div class="product-detail-sub col-md-4">
      <div class="col-md-12" *ngFor="let products of item.products">
        <h3>{{item.name}}</h3>
        <div class="card card-sub" style="height: 400px">
          <div class="card-item-sub">
            <img class="card-item-img-sub" *ngFor="let images of products.images" [src]="images.image_url">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{products.name}}</h5>
            <p class="card-text lead">đ{{products.price}}</p>
          </div>
          <div class="card-footer">
            <div class="row justify-content-center">
              <button (click)="viewProductDetails(products)" class="btn btn-outline-info">
                Quick View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
