<form
  class="mb-5 account-detail"
  #updateDetail="ngForm"
  (ngSubmit)="updateDetail.valid && saveProfile()"
>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="first_name">First name<sup>*</sup></label>
        <input
          class="form-control"
          type="text"
          name="first_name"
          [(ngModel)]="changes.first_name"
          id="first_name"
          autocomplete="off"
          required
          #first_name="ngModel"
          [ngClass]="{
            'is-invalid': first_name.touched && first_name.invalid
          }"
        />
        <span class="invalid-feedback">First name can't be plank</span>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="last_name">Last name <sup>*</sup></label>
        <input
          class="form-control"
          type="text"
          name="last_name"
          [(ngModel)]="changes.last_name"
          id="last_name"
          autocomplete="off"
          required
          #last_name="ngModel"
          [ngClass]="{
            'is-invalid': last_name.touched && last_name.invalid
          }"
        />
        <span class="invalid-feedback">Last name can't be plank</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="display_name">Display name <sup>*</sup></label>
        <input
          class="form-control"
          type="text"
          name="display_name"
          [(ngModel)]="changes.display_name"
          id="display_name"
          autocomplete="off"
          required
          value="{{this.changes.display_name}}"
          #display_name="ngModel"
          [ngClass]="{
            'is-invalid': display_name.touched && display_name.invalid
          }"
        />
        <span class="invalid-feedback">Display name can't be plank</span>
      </div>
      <p>
        This will be how your name will be displayed in the account section and
        in reviews
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="email_address">Email address <sup>*</sup></label>
        <input
          class="form-control"
          type="email"
          name="email_address"
          [(ngModel)]="changes.email_address"
          id="email_address"
          autocomplete="off"
          required
          #email_address="ngModel"
          [ngClass]="{
            'is-invalid': email_address.touched && email_address.invalid
          }"
        />
        <span class="invalid-feedback">Email address can't be plank</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="saveProfile()">SAVE CHANGES</button>
</form>
<h2>PASSWORD CHANGE</h2>
<mat-divider style="margin-bottom: 20px"></mat-divider>
<form #updateDetail="ngForm" (ngSubmit)="updateDetail.valid && savePass()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="password_current">Current password</label>
        <input
          class="form-control"
          type="password"
          name="password_current"
          [(ngModel)]="changes.password_current"
          id="password_current"
          autocomplete="off"
          required
          #password_current="ngModel"
          [ngClass]="{
            'is-invalid': password_current.touched && password_current.invalid
          }"
        />
        <span class="invalid-feedback">Current password can't be plank</span>
      </div>
      <div class="form-group">
        <label for="password">New password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          [(ngModel)]="changes.password"
          id="password"
          autocomplete="off"
          required
          #password="ngModel"
          [ngClass]="{
            'is-invalid': password.touched && password.invalid
          }"
        />
        <span class="invalid-feedback">New password can't be plank</span>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm new password</label>
        <input
          class="form-control"
          type="password"
          name="confirm_password"
          [(ngModel)]="changes.confirm_password"
          id="confirm_password"
          autocomplete="off"
          required
          #confirm_password="ngModel"
          [ngClass]="{
            'is-invalid': confirm_password.touched && confirm_password.invalid
          }"
        />
        <span class="invalid-feedback">Confirm password can't be plank</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" (click)="savePass()">SAVE CHANGES</button>
</form>
