@import "../../../variable";

.navbar {
  background: $background-color;
  .container {
    .navbar-brand {
      img {
        width: 200px;
      }
    }
    .navbar-toggler {
      color: rgba(255,255,255,.55);
      border: 1px solid rgba(255,255,255,.3);
    }
    .navbar-collapse {
      ul {
        align-items: center;
        li {
          &.nav-divider {
            border-left: 1px solid rgba(255,255,255,.1);
            height: 30px;
            vertical-align: middle;
            position: relative;
            margin: 0 8px;
          }
          .nav-link {
            color: $color-default;
            .cart-icon {
              margin-left: 10px;
              &:hover {
                strong {
                  background-color: #446084;
                  color: $color-default;
                  &:after {
                    height: 10px;
                  }
                }
              }
              strong {
                border-radius: 0;
                font-weight: 700;
                margin: .3em 0;
                border: 2px solid $color-default;
                color: $color-default;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 2.2em;
                height: 2.2em;
                font-size: 1em;
                line-height: 1.9em;
                &:after {
                  transition: height .1s ease-out;
                  bottom: 100%;
                  margin-bottom: 0;
                  margin-left: -7px;
                  height: 8px;
                  width: 14px;
                  left: 50%;
                  content: ' ';
                  position: absolute;
                  pointer-events: none;
                  border: 2px solid $color-default;
                  border-top-left-radius: 99px;
                  border-top-right-radius: 99px;
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.cart-order {
  position: relative;
  .order {
    z-index: 5;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    color: #fff;
    background: #5b5b5b;
    transition: all .3s ease;
    display: none;
    text-align: center;
  }
  &:hover {
    .order{
      display: block;
      color: #111;
    }
  }
}
