<div class="container" style="margin: 8px">
<!--  <div class="row">-->
<!--    <div class="col-md-6" *ngIf="product && product.images">-->
<!--      <img [src]="product.images" alt="" class="figure-img">-->
<!--    </div>-->
<!--    <div class="col-md-6" *ngIf="product">-->
<!--      <p class="lead">-->
<!--        Name: {{product.name}}-->
<!--      </p>-->
<!--      <p class="lead">-->
<!--        Description: {{product.description}}-->
<!--      </p>-->
<!--      <p class="lead">-->
<!--        Price: ${{product.price}}-->
<!--      </p>-->
<!--      <p class="lead">-->
<!--        Published In: {{product.publishedIn | date: 'short'}}-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <button class="btn btn-outline-primary">-->
<!--          Add to cart-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <button class="btn btn-outline-primary" routerLink="/categories">-->
<!--          Back to category-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <ngx-slick-carousel class="carousel"-->
<!--                      #slickModal="slick-carousel"-->
<!--                      [config]="slideConfig"-->
<!--                      (init)="slickInit($event)"-->
<!--                      (breakpoint)="breakpoint($event)"-->
<!--                      (afterChange)="afterChange($event)"-->
<!--                      (beforeChange)="beforeChange($event)">-->
<!--    <div ngxSlickItem *ngFor="let slide of slides" class="slide">-->
<!--      <img src="{{ slide.img }}" alt="" width="100%">-->
<!--    </div>-->
<!--  </ngx-slick-carousel>-->
</div>
