//color-text
$color-default: #fff;
$color-text-default: #f1f1f1;
$color-text-footer: rgba(255,255,255,.5);
$color-text-title: #777;
$color-text-product: #555;
$color-border-bottom: #ececec;
$color-product-item: #334862;
$color-text-hover: #111;



//background-color
$background-color: #5b5b5b;
$background-product: #446084;
