.orders{
  table {
    width: 100%;
    border: none;
    tr {
      width: 100%;
      border: none;
      flex-wrap: wrap;
      td:first-child, td:nth-child(2), td:nth-child(4), td:last-child {
        width: 15%;
        text-align: center;
        @media screen and (max-width: 768px) {
          width: 25%;
        }
      }
      td:nth-child(3) {
        width: 40%;
        text-align: center;
        padding: 0 5px;
        @media screen and (max-width: 768px) {
          width: 50%;
        }
        p {
          display: block;
          width: 100%;
        }
      }
      td:first-child {
        color: #1aebf0;
        padding: 0 5px;
      }
    }
  }
}
