.orders{
  table {
    width: 100%;
    border: none;
    .order-item {
      width: 100%;
      border: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      td:first-child, td:nth-child(2), td:nth-child(4), td:last-child {
        width: 15%;
        text-align: center;
        font-size: 20px;
        color: #111;
        @media screen and (max-width: 768px) {
          width: 25%;
        }
      }
      td:nth-child(3) {
        font-size: 20px;
        width: 40%;
        text-align: center;
        padding: 0 5px;
        @media screen and (max-width: 768px) {
          width: 50%;
        }
        p {
          display: block;
          width: 100%;
        }
        .order-name {
          margin-bottom: 0;
        }
      }
      td:first-child {
        color: #1aebf0;
        padding: 0 5px;
      }
    }
  }
}
