
<div class="row list-content" *ngIf="item">
  <div class=" col-md-4 col-sm-6 product-list" *ngFor="let products of item.products">
    <h3>{{item.name}}</h3>
    <div class="card">
      <div class="card-item">
        <img class="card-item-img" *ngFor="let images of products.images" [src]="images.image_url">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{products.name}}</h5>
        <p class="card-text lead">{{products.price}}đ</p>
      </div>
      <div class="card-footer">
        <div class="row justify-content-center">
          <button   (click)="viewProductDetails(products)" class="btn btn-outline-info">
            QUICK VIEW
          </button>
<!--          <button class="btn btn-outline-primary">-->
<!--            Add to cart-->
<!--          </button>-->
        </div>
      </div>
    </div>
  </div>
  <div class="product-list col-md-12">
    <div class="product-list-sub col-md-4 col-sm-6" *ngFor="let subcategory of item.subcategory">
      <div class="col-md-12" *ngFor="let products of subcategory.products">
        <h3>{{item.name}}</h3>
        <div class="card card-sub" style="height: 400px">
          <div class="card-item-sub">
            <img class="card-item-img-sub" *ngFor="let images of products.images" [src]="images.image_url">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{products.name}}</h5>

            <p class="card-text lead">{{products.price}}đ</p>
          </div>
          <div class="card-footer">
            <div class="row justify-content-center">
              <button (click)="viewProductDetails(products)" class="btn btn-outline-info">
                Quick View
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--  <div class="col-md-4 category-detail" *ngFor="let product of products" >-->
      <!--   <div *ngFor="let subcategory of product.subcategory">-->
      <!--     <div class="card-sub" *ngFor="let products of subcategory.products">-->
      <!--       <div class="card-item-sub" *ngFor="let images of products.images">-->
      <!--         <img class="card-item-img" [src]="images.image_url" *ngIf="products.images.length === 1">-->
      <!--       </div>-->
      <!--       <div class="card-body">-->
      <!--         <h5 class="card-title">{{products.name}}</h5>-->
      <!--       </div>-->
      <!--       <p class="card-text lead">${{products.price}}</p>-->
      <!--       <div class="card-footer">-->
      <!--         <div class="row justify-content-center">-->
      <!--           <button (click)="viewProductDetails(products)" class="btn btn-outline-info">-->
      <!--             View details-->
      <!--           </button>-->
      <!--           <button class="btn btn-outline-primary">-->
      <!--             Add to cart-->
      <!--           </button>-->
      <!--         </div>-->
      <!--       </div>-->
      <!--     </div>-->
      <!--   </div>-->
      <!--  </div>-->
    </div>
  </div>
</div>



