<div class="login">
  <h3 class="login-header-title text-uppercase">
    Login
  </h3>
  <div class="login-item">
    <form class="login-form" novalidate [formGroup]="authCredentialsDto" (ngSubmit)="userLogin()">
      <p class="login-content">
        <label class="login-label" for="login">Username or email address<span>*</span></label>
        <input class="login-input" formControlName="login"  id="login"
               name="login" type="text" required>
      </p>
      <p class="login-content">
        <label class="login-label" for="password">Password<span>*</span></label>
        <input class="login-input" formControlName="password"  id="password"
               name="password" type="password" required>
      </p>
      <div class="login-checkbox">
        <input type="checkbox" id="remember" name="remember">
        <label class="ml-1" for="remember">Remember me</label>
      </div>
      <div class="login-submit">
        <button type="submit" [disabled]="!authCredentialsDto.valid"
                class="login-submit-button">
          Login
        </button>
      </div>
      <p class="login-forgot">
        <a routerLink="/">Lost your password?</a>
      </p>
    </form>
  </div>
</div>

<ng-template #invalidCredentials>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Invalid Credentials
    </h4>
    <button type="button" (click)="hide()" class="close pull-right" aria-label="Close"
    ><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body text-center">
    <div class="alert alert-danger" role="alert">
      Either Username or Password are incorrect!!
    </div>
    <button type="button" class="btn btn-danger" (click)="authCredentialsDto.reset(); hide()">
      Try Again!
    </button>
  </div>
</ng-template>


