<div *ngIf="itemsOrders.length > 0" class="order-detai">
  <div *ngFor="let item of itemsOrders" class="order-detai-item">
    <div *ngFor="let product of item.products" class="order-product">
      <p>{{product.name}} x {{product.pivot.quantity}}</p>
      <p>{{product.pivot.price * product.pivot.quantity}}đ</p>
    </div>
    <div class="order-price">
      <p>Tổng tiền hàng : <span>{{item.total_price}}đ</span></p>
    </div>
    <div class="order-price price-total">
      <p>Tổng số tiền : <span>{{item.total_price}}đ</span></p>
    </div>
  </div>
</div>
