.order-detai {
  width: 100%;
  .order-detai-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .order-product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      p {
        font-size: 20px;
      }
    }
    .order-price {
      text-align: right;
      width: 100%;
      p {
        font-size: 16px;
        color: #555555;
        span {
          color: #111;
        }
      }
    }
    .price-total {
      p {
        span {
          font-size: 20px;
          color: #D26E4B;
        }
      }
    }
  }

}
